<p-table [columns]="cols" [value]="products" selectionMode="single"
 [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" >
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <span *ngIf="col.field != 'test'">
                    {{rowData[col.field]}}
                </span>
                <span *ngIf="col.field == 'test'">
                    {{rowData[col.field]?.typename}}
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>